* {
    margin: 0px;
    padding: 0px;
}

.header-banner {

    height: 550px;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.banner-img {
    width: 450px;
    height: 500px;
    margin-top: 50px;
}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;

}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 20px;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    border: none;
    margin-top: 40px;
    color: white;

}